@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-cream: #fcf8f2;
  --color-cream-light: #fffefb;
  --color-cream-dark: #f3ece1;

  --color-gold: #d4a373;
  --color-gold-light: #e9edc9;
  --color-gold-dark: #b08968;
  --color-gold-accent: #dda15e;

  --color-earth-dark: #283618;
  --color-earth-text: #3c3633;
  --color-earth-muted: #8d8075;

  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-arabic: 'Amiri', serif;
}

:root {
  background-color: #fcf8f2;
  color: #3c3633;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #fcf8f2;
  color: #3c3633;
  overflow-x: hidden;
}

/* Tablets (iPad, iPad Pro) */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Laptops & Standard Desktops */
@media (min-width: 1280px) {
  html {
    font-size: 17px;
  }
}

/* Wide & 2K/4K Monitors: Cheezein naturally bari hongi lekin text clip nahi hoga */
@media (min-width: 1800px) {
  html {
    font-size: 19px;
  }
}

@media (min-width: 2500px) {
  html {
    font-size: 21px;
  }
}